*:before, 
*:after {
	box-sizing: inherit;	
}

html {
	box-sizing: border-box;
}

.form-control {
	/*means the default width is 100%*/
	
}

/*it's best practice to include these styles at the top*/

body {
	font-family: 'Lato', sans-serif;
	background: black;
}

li {
	list-style-type: none;
}

#bg-image {
	opacity: .4;
	margin-top: -8.125em;
	position: relative;
	top: 3px;
	z-index: 2; 
}

#content {
	margin-top: -32.9375em; /*-7.9375em;*/ 
	padding: 1.875em; 
	color: white;
	position: relative;
	top: 45px;
	left: -10px;
	z-index: 1;
}

#content > h2 {
	margin-top: 0px;
}

.p {
	width: 50% ;
	margin: 0 auto;
	background-color: #eee;
	padding: 1.875em;
	border-radius: 5%;
	box-shadow: 10px 10px 5px #888888;

}

 #search-results {
 	max-width: 60em;
 	margin: 0 auto;
 	/*box-shadow:  10px 10px 5px #888888;*/
 }

#search-results .header {
	font-size: 1.25em;
	font-style: bold;
}

#query {
	text-align: center;
	background: 0 0;
}

 .jumbotron { 
    background: black;
	background-repeat: no-repeat;
    background-size: cover; 
    color: #ffffff;
    padding: 6.25em 1.5625em;
}

.off-red {
	color: #d9534f;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
}

.jumbotron h1, h3, h4{
	color: #d9534f;
	font-weight: 600;
	margin-top: .1875em;
}


.form-control {
	/*means the default width is 100%*/
}

.nav-justified {
	/*allows things to stretch across screen evenly*/
}

.navbar-inverse {
	/*gives you a black nav/navbar-default gives you a white*/
}

.navbar-static-top {
	/*makes it responsive*/
}

.bg-grey {
	background: #f6f6f6;
}

.container-fluid {
	padding: 3.75em 3.125em; 
	/* .container-fluid stretches across the entire screen/ 
	.container doesn't */
}

.logo {
    font-size: 12.5em;
}

.container {
	color: #d9534f;
}

.container-fluid {
	background: transparent;
}

.thumbnail {
    padding: 0 0 .9375em 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: .625em;
}

.header {
	font-size: 1.5625em;
	
}

.youtube-font {
	font-size: .9375em;
}


#h1 {
	font-size: 4.6875em;
}

.bg-black {
	background: black;
}

.remove,
.results,
.vanish {
	display: none;
}

.remove {
	margin-left: .875em;
}

#content .header:hover, 
.remove:hover {
	cursor: pointer;
}

.blink:active,
.fade {
	opacity: .5;
}

.circle {
	list-style-type: circle;
}

.no-border {
	border: none;
}

.nav >li a {
	color: rgb(243, 243, 243);
}

.nav a:hover {
	font-size: 20px;
	text-decoration: underline;
}

.modal-header h4 {
	font-size: 1.25em;
}

.top {
	margin-top: .3125em;
}

.height {
	margin-top: -1.75em;
}

.nav > li > a:hover,
.nav > li > a:focus,
.dropdown-menu, 
.dropdown-menu .open>a:hover,
.dropdown-menu .open>a:focus, 
.nav .open>a,
.nav .open>a:focus, 
.nav .open>a:hover {
    background-color: transparent;
}

.panel {
	background: transparent;
	border: none;
}


#artist-list a,
#lyrics-list a,
#videos-list h5 {
	color: white;
}

.btn {
	padding: 5px 24px;
}

.baloo-chettan {
	font-family: 'Baloo Chettan', cursive;
}

.overlay {
	width: 100%;
	height: 100%;
	color: ;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}

#lyrics-footer {
	list-style-type: none;
	margin-left: 20px;
}

.blink a {
	color: #100202;

}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

@media only screen and (max-height: 568px) {
    
    #content {
    	margin-top: -462px;
    }

    #bg-image {
    	width: 64vh;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}

/*iphone5*/

@media only screen and (max-height: 568px) {
    
    #content {
    	margin-top: -462px;
    }

    #bg-image {
    	width: 64vh;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}

@media only screen and (max-height: 480px) {
    
    #content {
    	margin-top: -499px;
    }

    #bg-image {
    	
    	margin-top: -4.125em;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}


/*iphone 4*/



@media only screen and (max-height: 480px) {
    
    #content {
    	margin-top: -380px;
    }

    #bg-image {
    	width: 64vh;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}

@media only screen and (max-width: 320px) {
    
    #content {
    	margin-top: -305px;
    }

    #bg-image {
    	width: 64vh;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}


/*ask gabe aboutm edia query*/

@media only screen and (max-height: 480px) {
    
    #content {
    	margin-top: -499px;
    }

    #bg-image {
    	width: 64vh;
    }
    #lyrics-footer {
    	padding: 3px;
    }
}


/*to fade the carousel*/

/*.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: .5;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
/*@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}*/