body {
	/*font-family: 'Baloo Chettan', cursive;*/

	font-family: 'Lato', sans-serif;
	background: black;
}

#bg-image {
	background-image: url("smiths_blue.jpg");
	/*make video thumbnail background image*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*background-attachment: fixed;*/ /*paralex scrollign effect*/
	margin-top: -32px;
	/*color: #c13b3b;*/
	height: 100vh;
}


.p {
	width: 50% ;
	margin: 0 auto;
	background-color: #eee;
	padding: 30px;
	border-radius: 5%;
	box-shadow: 10px 10px 5px #888888;

}

.container,
.container-fluid {
	/*background: transparent;*/
}

 #search-results {
 	max-width: 960px;
 	margin: 0 auto;
 	/*box-shadow:  10px 10px 5px #888888;*/
 }

#search-results .header {
	font-size: 20px;
	font-style: bold;
}

#query {
	text-align: center;
}

 .jumbotron { 
    background: black;
	background-repeat: no-repeat;
    background-size: cover; 
    color: #ffffff;
    padding: 100px 25px;
}

.jumbotron h1, h3, h4{
	color: #d9534f;
	font-weight: 600;
	margin-top: -13px;
}

.text-center {
	/*adding this class will center an element in bootstrap*/
}

.form-inline {
	/*makes everything nested inside the <form> lay side by side*/
}

.form-control {
	/*means the default width is 100%*/
}

.bg-grey {
	background: #f6f6f6;
}

.container-fluid {
	padding: 60px 50px; 
	/* .container-fluid stretches across the entire screen/ 
	.container doesn't */
}

.logo {
    font-size: 200px;
}

.container {
	color: #d9534f;
}

.container-fluid {
	background: transparent;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.header {
	font-size: 25px;
	font-weight: 700;
}

.youtube-font {
	font-size: 15px;
}


#h1 {
	font-size: 75px;
}

.bg-black {
	background: black;
}

.active {
	/*text-decoration: underline;*/
	/*border-bottom: 3px solid;*/

}

.nav-justified {
	/*allows things to stretch across screen evenly*/
}

.nav >li a {
	color: rgb(243, 243, 243);
}

.nav a:hover {
	font-size: 20px;
	text-decoration: underline;
}

.navbar-inverse {
	/*gives you a black nav/navbar-default gives you a white*/
}

.navbar-static-top {
	/*makes it responsive*/

}

.no-border {
	border: none;
}

.modal-header h4 {
	font-size: 20px;
	margin-top: 5px;
}



.nav > li > a:hover,
.nav > li > a:focus,
.dropdown-menu, 
.dropdown-menu .open>a:hover,
.dropdown-menu .open>a:focus, 
.nav .open>a,
.nav .open>a:focus, 
.nav .open>a:hover {
    background-color: transparent;
}


#bg-image {
	width: 100%;
	opacity: .2;
	background-repeat: no-repeat;
	background-size: cover;
	/*max-height: 100%;*/
	background-position: center;
	/*background-attachment: fixed;*/ /*paralex scrollign effect*/
	margin-top: -174px;
	/*color: #c13b3b;*/
	height: 100vh;
}


#content {
	margin-top: -840px;
	padding:30px; 
	background-attachment: fixed;
}


/*media query must come after*/



.panel {
	background: transparent;
	border: none;
}

.modal-content,
.modal-body {
	background: rgba(0, 0, 0, 0.86);
	color: white;
}


#lyrics-list a,
#videos-list h5 {
	color: white;
}


.btn {
	padding: 5px 24px;
}

.baloo-chettan {
	font-family: 'Baloo Chettan', cursive;
}

#about-modal {

}

#about-btn {

}

.overlay {
	width: 100%;
	height: 100%;
	color: ;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1000;
	display: none;
}



/*#h1 {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}*/

#lyrics-footer {
	list-style-type: none;
}

@media only all and (max-width: 800px) {
    #bg-image {
        margin-top: -94px;
    }
    #content {
    	margin-top: -660px;
    }

 @media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}


@media only all and (max-width: 400px) {
    #bg-image {
        width: 0vh;
        height: 0vh;
    }
    #content {
    	margin-top: -283px;
    }

